body{
    margin:0;
    padding:0;
    background-color: black;
    height: 100vh;
    display:flex;
    flex-direction: column;
}
.side-bar{
    height:80vh;
    width:300px;
    border:2px;
    background-color: #111010;
    border-radius: 20px; 
}
.side-bar.collapse{
   width:80px;
   transition: 1s;
}
.side-bar-options{
    color:white;
    display:flex;
    flex-direction: column;
   
}
.top-navbar{
    height:8vh;
    width:100%;
    background-color:#000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: sppace-evenly;

}
.house-icon{
     background-color: #232323;
     border-radius: 50%;
     display:flex;
    height:50px;
    width:50px;
    font-size: 27px;
    align-items: center;
    justify-content: center;
    margin-left:300px;
}
.search-bar{
    background-color:#111010;
    height:30px;
     width:500px;
    border-radius: 15px;
    margin-left:20px;
    padding:5px;
    display:flex;
    justify-content:left;
    flex-direction: row;
    align-items: center;
}
.search-input{
    width:75%;
    border:none;
    outline:none;
    background-color: #111010;
    color:white;
    font-size: 14px;
    justify-content: center;
    align-self:center;
    padding-left:20px;
}
.search-icon{
    font-size:20px;
    margin-left:10px;
}
.folder{
    font-size:20px;
    margin-left:20px;

} 
.line{
    height:20px;
    width:1px;
    background-color:white;
    margin-left:10px;
}
.nav-icons{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left:20px;
    gap:20px;
    font-size:20px;
}
.nav-icons:hover{
    cursor: pointer;
}
.bottom-player{
    height:12vh;
    width:100%;
    background-color:#000000;

}
.main-content{
    height:80vh;
    width:calc(100% - 300px);
    background-color:#111010;
    border-radius: 20px;
    margin-left:10px;
}
.container{
    display:flex;
    flex-direction: row;
    height: 80vh;
}
button{
  background: none;
    border: none;
}
.google-icon {
  color: #ffffff;
  font-size:30px;
}
.side-heading{
    color:white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    gap: 10px;

}
.collapse .side-heading{
   flex-wrap: wrap;
}
.create-btn{
    background-color: #000000;
    color:white;
width:70px;
height:30px;
border-radius: 20px;
align-items: center;
justify-content: center;
margin:10px;
}
.collapse .create-btn{
    display:none;
}

.create-btn:hover{
    background-color: #232323;
    cursor: pointer;
}
.library{
    color:white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 4px;
}
.side-bar.collapse .library{
    display:none;
}
.option-item{
    height:40px;
    display:flex;
    background-color: black;
    margin:4px;
    border-radius: 10px;
}
.logo{
    height:45px;
    padding:10px 5px 5px 10px; 
    
}

